body {
    background-color: #333;

    font: 16px arial;
    color: white;
}

p {
    text-align: center;
}

button {
    display: inline-block;

    border: 1px black solid;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;

    font: 16px arial;
    font-weight: bold;
}

.h5 button {
    background-color: gold;
}

.h4 button {
    background-color: cyan;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 5px;
    min-width: 20px;
}

.block {
    background: #B71234;
}

.block-left {
    background: linear-gradient(90deg, #B71234 50%, rgba(0, 0, 0, 0) 50%);
}

.block-right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #B71234 50%);
}